
.filter-container {
  
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.clear-filters {
  cursor: pointer;
  color: #007bff; 
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1rem;
}

.filter-accordion {
  display: flex;
  gap: 2rem;
  margin-top: 1rem; 
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-header {
  background-color: #f0f0f0;
  padding: 0.75rem;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  cursor: pointer;
}

.accordion-button {
  color: #333;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 0.75rem;
  outline: none;
}

@media (max-width: 453px) {

  .accordionHeader{
    
    font-size: 0.7rem;
  }
  .filter-accordion {
    flex-direction: row; 
  }

  .accordion-item {
    margin-bottom: 0; 
  }
}


