.Hero-section{

    background-image:url('./assets/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    display: flex;
    justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 3rem;
}

.app-container {
  display: flex;
  padding-top: 4.5rem;
  justify-content: center;
  margin-top: 1rem; 
  background-color: rgb(39, 43, 51);
}

.app-col {
  flex: 0 0 66.666667%; 
  max-width: 66.666667%; 
}

.app-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


